<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Список пользователей</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
<nav th:replace="navbar :: navbar(4)"></nav>
<div class="container">
    <h1 class="row mt-3">Список Пользователей</h1>
    <!--Фильтр -->
    <div>
        <form class="row mt-3" th:action="@{/accounts/all}" id="searchFormAcc">
            <div class="input-group mt-2">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="pageSize">Выводить по:</label>
                </div>
                <input type="hidden" name="page" th:value="1"/>
                <select id="pageSize" form="searchFormAcc" name="size" th:value="${accounts.size}"
                        onchange="changePageSize()"
                        class="size-select">
                    <option th:each="s : ${#numbers.sequence(5,20,5)}" th:value="${s}" th:text="${s}"
                            th:selected="${s == accounts.size}"></option>
                </select>
                <div class="input-group-prepend">
                    <label class="input-group-text" for="roleCode">Роль:</label>
                </div>
                <select id="roleCode" form="searchFormAcc" name="role" th:value="${roleCode}"
                        onchange="changePageSize()"
                        class="size-select">
                    <option th:text="Все" th:value="${null}" th:selected="${roleCode == null}"></option>
                    <option th:each="role : ${roles}" th:value="${role.code}" th:text="${role.name}"
                            th:selected="${roleCode == role.code}"></option>
                </select>
            </div>

        </form>
    </div>
    <div class="row mt-3">
        <table class="table table-bordered table-striped">
            <thead class="bg-info">
            <tr>
                <th>Имя пользователя</th>
                <th>Имя</th>
                <th>Фамилия</th>
                <th>Учреждение</th>
                <th>Роль</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="account : ${accounts}">
                <td th:text="${account.userName}">Bond</td>
                <td th:text="${account.firstName}">Bond</td>
                <td th:text="${account.lastName}">Bond</td>
                <td th:text="${account.institution}">Bond</td>
                <td th:text="${account.roleName}">Bond</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:replace="pagingNav :: pagingNav(${accounts}, @{/accounts/all})"></div>
    <div class="btn-group row mt-3" role="group" aria-label="Basic example">
        <a role="button" class="btn btn-primary" th:href="@{/accounts/create}">Создать...</a>
    </div>
</div>


<script type="text/javascript">
        function changePageSize() {
        $("#searchFormAcc").submit();
    }
</script>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>
</html>