<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список пользователей</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/requests/all}" href="requests.html">Request</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/rating_parameters/all}" href="rating_parameters.html">Rating Parameters</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/accounts/all}" href="accounts.html">Users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/logout}">Logout</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <h1>Список Пользователей</h1>
    <div>
        <table class="table table-bordered table-striped">
            <thead class="bg-info">
            <tr>
                <th>User name</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Institution</th>
                <th>User type</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="account : ${accounts}">
                <td th:text="${account.userName}">Bond</td>
                <td th:text="${account.firstName}">Bond</td>
                <td th:text="${account.lastName}">Bond</td>
                <td th:text="${account.institution}">Bond</td>
                <td th:text="${account.roleName}">Bond</td>
            </tr>
            </tbody>
        </table>
        <div class="btn-group" role="group" aria-label="Basic example">
            <a role="button" class="btn btn-primary" th:href="@{/accounts/create}">Add new...</a>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>
</html>