<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Параметры формирования рейтинга</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
<nav th:replace="navbar :: navbar(3)"></nav>
<div class="container">
    <h1>Параметры рейтинга</h1>
    <div>
        <table class="table table-bordered table-striped">
            <thead class="bg-info">
            <tr>
                <th>ID</th>
                <th>Code</th>
                <th>Description</th>
                <th>Min</th>
                <th>Max</th>
                <th>Coefficient</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="r_param : ${rating_parameters}">
                <td th:text="${r_param.id}">1</td>
                <td th:text="${r_param.code}">Bond</td>
                <td th:text="${r_param.description}">Bond</td>
                <td th:text="${r_param.minValue}">Bond</td>
                <td th:text="${r_param.maxValue}">Bond</td>
                <td th:text="${r_param.coefficient}">Bond</td>
                <td>
                    <a role="button" class="btn btn-outline-primary" th:href="@{/rating_parameters/edit(id=${r_param.id})}"
                       href="rating_parameters_edit.html">Edit</a>

                </td>
                <td>
                    <form th:action="@{/rating_parameters/delete}" th:method="delete">
                        <input type="hidden" name="id" th:value="${r_param.id}"/>
                        <input class="btn btn-danger" type="submit" value="Delete" onClick="return confirm('sure?')"/>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="btn-group" role="group" aria-label="Basic example">
            <a role="button" class="btn btn-primary" th:href="@{/rating_parameters/create}">Add new...</a>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>
</html>