<nav th:fragment="navbar(activeNav)"
     class="navbar navbar-expand-lg navbar-dark bg-dark" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav" sec:authorize="isAuthenticated()">
            <li class="nav-item">
                <a class="nav-link" th:classappend="${activeNav == 1} ? 'active'"
                   th:href="@{/profile/edit}" href="profile.html">Профиль</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " th:classappend="${activeNav == 2} ? 'active'"
                   th:href="@{/requests/all(page=1,size=5)}" href="requests.html">Запросы</a>
            </li>
            <li class="nav-item" sec:authorize="hasAuthority('ADMIN')">
                <a class="nav-link" th:classappend="${activeNav == 3} ? 'active'"
                   th:href="@{/rating_parameters/all}" href="rating_parameters/rating_parameters.html">Параметры оценки запроса</a>
            </li>
            <li class="nav-item" sec:authorize="hasAuthority('ADMIN')">
                <a class="nav-link" th:classappend="${activeNav == 4} ? 'active'"
                   th:href="@{/accounts/all}" href="accounts.html">Пользователи</a>
            </li>
            <li class="nav-item" sec:authorize="hasAuthority('TEACHER')">
                <a class="nav-link" th:classappend="${activeNav == 5} ? 'active'"
                   th:href="@{/reports/report(type=
                   ${#authorization.expression('hasAuthority(''TEACHER'',)')} ? 'BY_SUBJECT_AREA': 'BY_TEACHERS',
                   startDate=${#temporals.format(#temporals.createNow().minus(30, T(java.time.temporal.ChronoUnit).DAYS), 'yyyy-MM-dd')}
                   ,page=1, size=20)}" href="#">Отчеты</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/logout}">Выйти</a>
            </li>
        </ul>
    </div>
</nav>