<div th:fragment="ratingPane(request)">
    <input type="hidden" name="status"
           th:value="${T(com.example.digitalplatform.db.model.RequestStatus).FINISHED}"/>
    <ul class="nav nav-pills"
        th:if="${(#authorization.expression('hasAnyAuthority(''STUDENT'')') && request.teacherScore < 1)}">
        <li class="page-item"
            th:classappend="${request.teacherScore == score} ? 'active'"
            th:each="score : ${#numbers.sequence(1,5,1)}">
            <button class="page-link" name="teacherScore" th:text="${score}" th:value="${score}"
                    th:href="@{/requests/edit(id=${request.id})}"></button>
        </li>
    </ul>
    <ul class="nav nav-pills"
        th:if="${(#authorization.expression('hasAnyAuthority(''TEACHER'')') && request.participantsScore <1)}">
        <li class="page-item"
            th:classappend="${request.participantsScore == score} ? 'active'"
            th:each="score : ${#numbers.sequence(1,5,1)}">
            <button th:href="@{/requests/edit(id=${request.id})}" class="page-link"
                    name="participantsScore" th:value="${score}" th:text="${score}"></button>
        </li>
    </ul>


</div>