<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Add new author</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>

<!-- Author create -->
<form id="edit-form" th:action="@{/requests/create}" th:method="post" action="addRequest.html">
    <div class="container">
        <h1>Request:</h1>
        <div class="row mt-3">
            <label class="col-2" for="holder-input1">Заголовок:</label>
            <input class="col-2" id="holder-input1" name="title" type="text" th:value="${request.title}"  value="John Doe" required/>
        </div>
        <div class="row mt-3">
            <label class="col-2" for="dropDownList">Предметная область:</label>
            <select class="col-2" id="dropDownList" name="subjectAreaId" required>
                <option th:each="subjectArea : ${subjectAreas}" th:value="${subjectArea.id}" th:text="${subjectArea.name}"></option>
            </select>
            <!--<input class="col-2" id="holder-input2" name="subjectArea" type="text" th:value="${request.subjectArea}" value="John Doe"/>-->
        </div>
        <div class="row mt-3">
            <label class="col-2" for="holder-input3">Описание:</label>
            <input class="col-2" id="holder-input3" name="description" type="text" th:value="${request.description}" value="John Doe"/>
        </div>
        <div class="row mt-3">
            <label class="col-2" for="holder-input4">Количество часов:</label>
            <input class="col-2" id="holder-input4" name="time" type="text" th:value="${request.time}" required value="1"/>
        </div>
        <div class="row mt-3">
            <label class="col-2" for="workTypes">Тип занятия:</label>
            <select class="col-2" id="workTypes" name="workType" required>
                <option th:each="workType : ${workTypes}" th:value="${workType}" th:text="${workType.desc}"></option>
            </select>
        </div>
        <div class="row mt-3">
            <label class="col-2" for="checkbox-input">Периодичная:</label>
            <input id="checkbox-input" type="checkbox" name="periodical" th:checked="${request.periodical}"/>
        </div>
        <div class="row mt-3">
            <label class="col-2" for="holder-input5">Срок завершения:</label>
            <input class="col-2" id="holder-input5" name="deadline" type="datetime-local" th:value="${#temporals.format(request.deadline, 'dd-MM-yyyy HH:mm')}"
                   required value="1"/>
        </div>
        <button type="submit" class="btn btn-primary">Сохранить</button>
        <a role="button" class="btn btn-outline-secondary" onclick="history.go(-1)">Закрыть</a>
    </div>
</form>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>