<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <title>Edit Param</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>

<!-- par edition -->
<form id="edit-form" th:action="@{/requests/edit(id=${request.id})}" th:method="post" action="editRequest.html">
    <div class="container">
        <h1>Информация о запросе:</h1>
        <div class="row mt-3">
            <label class="col-2" for="id-input" hidden>ID:</label>
            <input class="col-2" id="id-input" type="text" hidden th:value="${request.id}" value="1"/>
        </div>
        <div class="row mt-3">
            <label class="col-2" for="status-input" hidden>ID:</label>
            <input class="col-2" id="status-input" type="text" hidden th:value="${request.status}" value="1"/>
        </div>

        <div class="row mt-3">
            <label class="col-2" for="holder-input1">Заголовок:</label>
            <input class="col-2" id="holder-input1" name="title" type="text" readonly th:value="${request.title}"
                   value="John Doe"/>
        </div>
        <div class="row mt-3">
            <label class="col-2" for="dropDownList">Предметная область:</label>
            <select class="col-2" id="dropDownList" name="subjectAreaId" readonly>
                <option selected th:value="${request.subjectArea.id}" th:text="${request.subjectArea.name}"
                ></option>
            </select>
        </div>
        <div class="row mt-3">
            <label class="col-2" for="holder-input3">Описание:</label>
            <textarea class="col-2" id="holder-input3" name="description"
                      th:readonly="!${#authorization.expression('hasAnyAuthority(''ADMIN'',''CREATE_REQUEST'')')&& request.status.name == 'NEW'}"
                      th:text="${request.description}"
            ></textarea>
        </div>
        <div class="row mt-3">
            <label class="col-2" for="holder-input4">Количество часов:</label>
            <input class="col-2" id="holder-input4" name="time"
                   th:readonly="!${#authorization.expression('hasAnyAuthority(''ADMIN'',''CREATE_REQUEST'')')&& request.status.name == 'NEW'}"
                   type="text" th:value="${request.time}" value="1"/>
        </div>
        <div class="row mt-3" th:if="${request.assignedBy != null}">
            <label class="col-2" for="holder-input5">Назначена:</label>
            <textarea class="col-2" id="holder-input5" name="assignedBy" readonly
                      th:text="${request.assignedBy}"></textarea>
        </div>
        <div class="row mt-3">
            <label class="col-2" for="workTypes">Тип занятия:</label>
            <select class="col-2" id="workTypes" name="workType" required
                    th:readonly="!${#authorization.expression('hasAnyAuthority(''ADMIN'',''CREATE_REQUEST'')') && request.status.name == 'NEW'}">
                <option th:each="workType : ${workTypes}" th:value="${workType}" th:text="${workType.desc}"
                        th:selected="${workType == request.workType}"
                ></option>
            </select>
        </div>
        <div class="row mt-3">
            <label class="col-2" for="checkbox-input">Периодичная:</label>
            <input id="checkbox-input" name="periodical" type="checkbox"
                   th:disabled="!${#authorization.expression('hasAnyAuthority(''ADMIN'',''CREATE_REQUEST'')') && request.status.name == 'NEW'}"
                   th:checked="${request.periodical}"/>
        </div>
        <div class="row mt-3">
            <label class="col-2" for="holder-input6">Выполнить до:</label>
            <input class="col-2" id="holder-input6" name="deadline" type="datetime-local"
                   th:readonly="!${#authorization.expression('hasAnyAuthority(''ADMIN'',''CREATE_REQUEST'')')&& request.status.name == 'NEW'}"
                   th:min="${#temporals.format(#temporals.createNow(), 'yyyy-MM-dd''T''HH:mm')}"
                   th:max="${#temporals.format(#temporals.createNow().plus(30, T(java.time.temporal.ChronoUnit).DAYS), 'yyyy-MM-dd''T''HH:mm')}"
                   th:value="${#temporals.format(request.deadline, 'yyyy-MM-dd''T''HH:mm')}" required value="1"/>
        </div>
        <div class="row mt-3" th:if="${request.endDate != null}">
            <label class="col-2" for="holder-input7">Срок завершения:</label>
            <input class="col-2" id="holder-input7" name="endDate" type="datetime-local"
                   th:if="${#authorization.expression('hasAnyAuthority(''TEACHER'',)')&& request.status.name == 'PROCESSED'}"
                   th:min="${#temporals.format(#temporals.createNow(), 'yyyy-MM-dd''T''HH:mm')}"
                   th:value="${#temporals.format(request.endDate, 'yyyy-MM-dd''T''HH:mm')}" required value="1"/>
        </div>
        <div class="row mt-3">
            <label th:if="${ request.status.name == 'FINISHED' &&( worker != null && #authentication.name == worker.login && request.participantsScore < 0 )
            ||  (owner != null && #authentication.name == owner.login && request.teacherScore < 1 &&  request.teacherScore < 0)}"
                   th:text="${#authorization.expression('hasAnyAuthority(''TEACHER'')')} ? 'Оцените участников' : 'Оцените преподавателя'"></label>
        </div>
        <div class="row mt-3" th:if="${request.status.name == 'FINISHED'}">
            <div th:replace="ratingPane :: ratingPane(${request})"></div>
        </div>

        <div class="row mt-3">
            <button th:marginheight="50" type="submit" class="btn btn-primary" th:value="${'PROCESSED'}"
                    th:if="${#authorization.expression('hasAnyAuthority(''ADMIN'',''CREATE_REQUEST'')') && request.status.name == 'NEW'}"
            >Сохранить
            </button>
            <a role="button" class="btn btn-danger" type="submit" onClick="return confirm('Удалить?')"
               th:if="${#authorization.expression('hasAnyAuthority(''ADMIN'',''CREATE_REQUEST'')') && request.status.name == 'NEW'}"
               th:href="@{/requests/delete(id=${request.id})}"
            >Удалить</a>

            <a role="button" class="btn btn-primary" type="submit" onClick="return confirm('Взять?')"
               th:if="${worker != null && #authentication.name == worker.login && request.status.name == 'ASSIGNED'}"
               th:href="@{/requests/{id}(id=${request.id},status=${'PROCESSED'})}">Взять в работу</a>
            <a role="button" class="btn btn-danger" type="submit" onClick="return confirm('Отклонить?')"
               th:if="${worker != null && #authentication.name == worker.login && request.status.name == 'ASSIGNED'}"
               th:href="@{/requests/{id}(id=${request.id},status=${'DECLINED'})}">Отклонить</a>
            <form th:action="@{/requests/delete}" th:method="post"
                  th:if="${worker != null && #authentication.name == worker.login && request.status.name == 'PROCESSED'}">
                <input type="hidden" name="status"
                       th:value="${T(com.example.digitalplatform.db.model.RequestStatus).FINISHED}"/>
                <input class="btn btn-success" type="submit" value="Завершить" onClick="return confirm('Завершить?')"/>
            </form>
            <a role="button" class="btn btn-outline-secondary" onclick="history.go(-1)">Закрыть</a>
        </div>

    </div>
</form>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>