<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Список запросов</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
<nav th:replace="navbar :: navbar(2)"></nav>
<div class="container">
    <h1 class="row mt-3">Список запросов</h1>
    <div class="row mt-3">
        <form th:action="@{/requests/all}" id="searchForm">
            <div class="input-group mt-2">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="pageSize">Выводить по:</label>
                </div>
                <input type="hidden" name="page" th:value="1"/>
                <select id="pageSize" form="searchForm" name="size" th:value="${requestPage.size}" onchange="changePageSize()"
                        class="size-select">
                    <option th:each="s : ${#numbers.sequence(5,20,5)}" th:value="${s}" th:text="${s}"
                            th:selected="${s == requestPage.size}"></option>
                </select>
                <div class="input-group-prepend">
                    <label class="input-group-text" for="statuses">Статус запроса:</label>
                </div>
                <select id="statuses" form="searchForm" name="status" th:value="${selectedSt}"
                        onchange="changePageSize()"
                        class="size-select">
                    <option th:text="Все" th:value="${null}" th:selected="${selectedSt == null}"></option>
                    <option th:each="status : ${statuses}" th:value="${status}" th:text="${status.desc}"
                            th:selected="${selectedSt == status}"></option>
                </select>
            </div>
        </form>
    </div>
    <div class="row mt-3">

        <table class="table table-bordered table-striped">
            <thead class="bg-info">
            <tr>
                <th>Заголовок</th>
                <th>Предметная область</th>
                <th>Статус</th>
                <th>Количество часов</th>
                <th>Срок завершения</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="request : ${requestPage.content}">
                <td th:text="${request.title}">Bond</td>
                <td th:text="${request.subjectArea.name}">Bond</td>
                <td th:text="${request.status.desc}">Bond</td>
                <td th:text="${request.time}">Bond</td>
                <td th:text="${#temporals.format(request.planedFinishDate, 'dd-MM-yyyy HH:mm')}">Bond</td>
                <td>
                    <a role="button" class="btn btn-outline-primary" th:href="@{/requests/edit(id=${request.id})}"
                       href="editRequest.html">Показать</a>

                </td>
            </tr>
            </tbody>
        </table>


    </div>
    <div th:replace="pagingNav :: pagingNav(${requestPage}, @{/requests/all})"></div>
    <div class="btn-group row mt-3" role="group" aria-label="Basic example"
         sec:authorize="hasAnyAuthority('ADMIN','CREATE_REQUEST')">
        <a role="button" class="btn btn-primary" th:href="@{/requests/create}">Создать...</a>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>
<script type="text/javascript">
    function changePageSize() {
        $("#searchForm").submit();
    }
</script>
</html>