<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Список запросов</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav" sec:authorize="isAuthenticated()">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/profile/edit}" href="profile.html">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" th:href="@{/requests/all(age=1,size=5)}" href="requests.html">Request</a>
            </li>
            <li class="nav-item" sec:authorize="hasAuthority('ADMIN')">
                <a class="nav-link" th:href="@{/rating_parameters/all}" href="rating_parameters/rating_parameters.html">Rating
                    Parameters</a>
            </li>
            <li class="nav-item" sec:authorize="hasAuthority('ADMIN')">
                <a class="nav-link" th:href="@{/accounts/all}" href="accounts.html">Accounts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/logout}">Logout</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <h1 class="row mt-3">Список запросов</h1>
    <div>
        <form class="row mt-3" th:action="@{/requests/all}" id="searchForm">
            <div class="col-md-3 input-group mt-2">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="pageSize">Выводить по:</label>
                </div>
                <select id="pageSize" form="searchForm" for="label" name="size" th:value="${requestPage.size}" onchange="changePageSize()"
                        class="size-select">
                    <option th:each="s : ${#numbers.sequence(5,20,5)}" th:value="${s}" th:text="${s}"
                            th:selected="${s == requestPage.size}"></option>
                </select>
            </div>
        </form>
    </div>
    <div class="row mt-3">

        <table class="table table-bordered table-striped">
            <thead class="bg-info">
            <tr>
                <th>Title</th>
                <th>Subject Area</th>
                <th>Description</th>
                <th>Status</th>
                <th>Time</th>
                <th>Deadline</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="request : ${requestPage.content}">
                <td th:text="${request.title}">Bond</td>
                <td th:text="${request.subjectArea.name}">Bond</td>
                <td th:text="${request.description}">Bond</td>
                <td th:text="${request.status.desc}">Bond</td>
                <td th:text="${request.time}">Bond</td>
                <td th:text="${#temporals.format(request.planedFinishDate, 'dd-MM-yyyy HH:mm')}">Bond</td>
                <td>
                    <a role="button" class="btn btn-outline-primary" th:href="@{/requests/edit(id=${request.id})}"
                       href="editRequest.html">Show</a>

                </td>
                <td>
                    <form th:action="@{/requests/delete}" th:method="delete">
                        <input type="hidden" name="id" th:value="${request.id}"/>
                        <input class="btn btn-danger" type="submit" value="Delete" onClick="return confirm('sure?')"/>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>


    </div>
    <div class="row mt-3">
        <ul class="nav nav-pills">
            <li class="page-item" th:classappend="${requestPage.number == 0} ? 'active'">
                <a th:replace="paging :: paging(${1}, ${1}, 'Page ' + ${1}, ${requestPage.size})"></a>
            </li>
            <li class="page-item disabled" th:if="${requestPage.number + 1 > 3}">
                <a class="page-link" href="#">...</a>
            </li>
            <li class="page-item" th:classappend="${requestPage.number + 1 == page} ? 'active'"
                th:each="page : ${#numbers.sequence((requestPage.number + 2 > 3 ? requestPage.number : 2),
                    (requestPage.number + 1 < requestPage.totalPages - 1 ? requestPage.number + 2 : requestPage.totalPages - 1 ))}">
                <a th:replace="paging :: paging(${page}, ${page}, 'Page ' + ${page}, ${requestPage.size})"></a>
            </li>
            <li class="page-item disabled"
                th:if="${requestPage.number + 2 < requestPage.totalPages - 1}">
                <a class="page-link" href="#">...</a>
            </li>
            <li class="page-item" th:classappend="${requestPage.number + 1 == requestPage.totalPages} ? 'active'">
                <a th:replace="paging :: paging(${requestPage.totalPages}, ${requestPage.totalPages}, 'Page ' + ${requestPage.totalPages}, ${requestPage.size})"
                ></a>
            </li>
        </ul>
    </div>
    <div class="btn-group row mt-3" role="group" aria-label="Basic example"
         sec:authorize="hasAnyAuthority('ADMIN','CREATE_REQUEST')">
        <a role="button" class="btn btn-primary" th:href="@{/requests/create}">Add new...</a>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>
<script type="text/javascript">
    $(document).ready(function () {
        // ...

        $("#btnClear").on("click", function (e) {
            e.preventDefault();
            $("#keyword").text("");
            window.location = "[[@{/tutorials}]]";
        });
    });

    function changePageSize() {
        $("#searchForm").submit();
    }
</script>
</html>